body{
}

nav{
    background: #221e7c;
    height: 30px;
}

.container {
    width: 70%;
}



.link1{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #221e7c;
}

.navbar-nav a{
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 12px;
}

.navbar-nav a:hover{
    color: wheat;
}

.reposi a{
    font-family: 'Roboto', sans-serif;
    color: #221e7c;
    text-decoration: none;
    font-size: 12px;
}

.cont-search {
    background-image: url("../img/header.png");
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cont-search .row{
    height: 100%;
}

.col-8 form{
    width: 100%;
}

.form-search input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: #221e7c;
}
.form-search input:focus {
    border: none ;
    outline: none;
    width: 100%;
}

main {
    font-family: 'Roboto', sans-serif;
}

main h1{
    font-size: 25px;
    color: #221e7c;
    font-weight: bolder;
}

main p{
    font-size: 13px;
}

.stick-container h2{
    font-family: 'Roboto', sans-serif;
    color: #221e7c;
    font-size: 22px;
}

.stick{
    height: 1px;
    width: 35px;
    background: #221e7c;
    display: inline-block;
    margin-right: 16px;
}
.link2 a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #221e7c;
    font-size: 12px
}

.circle{
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background: #78d6bb;
    margin-right: 8px;
}

footer{
    background-color: #221e7c;
}

.footer-icon a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    nav{
        height: 60px;
    }
    .navbar-nav{
        background: #221e7c;
        margin-top:10px;
        border-radius: 10px;
    }

    .cont-search {
        background-image: url("../img/header.png");
        height: 150px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cont-search {
        background-image: url("../img/header.png");
        height: 80px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .footer-icon a{
        font-size: 10px;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-left: 5px;
        font-weight: bold;
    }

}